:root {
	/* Font Family */
	--font-family: Open Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu,
		Cantarell, Helvetica Neue, sans-serif;

	/* Font weight */
	--font-weight-normal: 400;
	--font-weight-semi: 600;
	--font-weight-bold: 700;
}
