@define-mixin text-regular {
	font-weight: var(--font-weight-regular);
}

@define-mixin text-semi {
	font-weight: var(--font-weight-semi);
}

@define-mixin text-bold {
	font-weight: var(--font-weight-bold);
}
